@using PolissyaBreadWithIdentity.Models
@model LoginViewModel
@{
    ViewBag.Title = "Вхід";
}
<!DOCTYPE html />
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Вхід</title>
    <meta charset="utf-8"/>
    <link href="~/Built/Css/Login.css" rel="stylesheet" />
</head>
<body>
    <div id="root" class="grid">
        <div><a href="/home">Назад</a></div>
        @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "login-form grid", role = "form" }))
        {
            <h1>@ViewBag.Title</h1>
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.TextBoxFor(m => m.Email, new { @class = "field", @placeholder = "Email" })
            @Html.PasswordFor(m => m.Password, new { @class = "field", @placeholder = "Пароль"})
            <input type="submit" value="Увійти" class="login btn" />
        }
    </div>
    
</body>
</html>
